@import '../../styles//variables';

.landing-wrapper {
    width: 100%;
    margin-top: 81px;
    height: auto;


    .landing-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}